<div id="<%= dom_id post %>">
    <h2 class="text-2xl font-regular text-blue-600 dark:text-blue-500 hover:underline"><%= link_to post.title, post %></h2>
    <h6><%= pluralize(post.view, 'view') %></h6>
    <p>written by: <%= post.user.email %></p>
    <%= post.body %>

</div>